{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="d-flex row col-12 ">
    <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'img/OIP (1).jpg' %}" class="img-fluid" alt="">
    </div>
    
    <div style="margin: 15px;" class="col-12">
        <h3 class="card-title" style="margin: 50px;">About Chef Jhone Do</h3>
        <p class="lead">

            With over 20 years of experience in the culinary world, Chef Habiba Sadif has honed her skills in both traditional and contemporary cooking techniques. Passionate about creating extraordinary dining experiences, she specializes in [specific cuisine or dish], blending fresh, locally-sourced ingredients with innovative flavors.
            
            Throughout her career, Chef Habiba Sadif has worked in a variety of kitchens, from intimate bistros to renowned fine dining establishments, where she has mastered the art of [highlight a unique skill or technique, e.g., French pastry, farm-to-table cuisine, molecular gastronomy]. Her culinary philosophy revolves around crafting dishes that not only delight the senses but also tell a story of culture, tradition, and creativity.
            
            Chef Habiba Sadif believes that food is an expression of love and care, and strives to create memorable moments for every guest. She is continuously inspired by travel, seasonal ingredients, and the ever-evolving food scene, always seeking new ways to push her culinary boundaries.
            
            Whether working in a bustling kitchen or teaching aspiring chefs, Chef Habiba Sadif is dedicated to sharing her passion for food and elevating the dining experience to new heights.
            
            </p>
        <br>

    </div>
</div>


{% endblock content %}